.gridzilla-pagination{
    /*position: absolute;*/
}

.gridzilla{
    overflow: scroll;
}

.gridzilla-control-buttons{
    margin: 20px 0px;
}

.DayPicker-Caption{
    margin-top: 25px;
    margin-bottom: 25px;
}